/* Reset Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #363636;
    text-decoration: none;
}

/* SECCION: BODY */
body {
    background-color: #fdfdfd;
}

/* SECCION: HEADER */
header {
    background-color: #fdfdfd;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    color: #363636;
    font-weight: 500;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #FFC300;
}

/* SECCION: FOOTER */
footer {
    background-color: #363636;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    gap: 6rem;
    align-items: flex-start;
}

footer p {
    color: white; 
    font-weight: 300; 
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.titulo-footer {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* SECCION: CONTACTO */

.contacto {
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

.portada-contacto h1 {
    font-size: 2.5rem;
    color: #FFC300;
}

.portada-contacto p {
    font-size: 1.2rem;
    color: white;
    padding: 0.4rem 0rem 1rem;
}

.contacto-contenedor {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas:
        "preguntas preguntas"
        "horarios formulario"
        "ubicacion formulario";
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.preguntasFrecuentes {
    grid-area: preguntas;
}
.horarios {
    grid-area: horarios;
}

.ubicacion {
    grid-area: ubicacion;
}

.consultas {
    grid-area: formulario;
}

.preguntasFrecuentes {
    background-color: white;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    border: 1px solid #f0f0f0;
    padding: 2rem;
}

.preguntasFrecuentes .listaDesplegable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0rem;
    width: 100%;
}

.preguntasFrecuentes .accordion-button {
    background-color: white;
    color: #363636;
    font-weight: 600;
    padding: 1rem;
    font-size: 1rem;
}

.preguntasFrecuentes .accordion-body {
    text-align: left;
    padding: 0 1rem 1rem 1rem;
    color: #666;
    font-size: 0.95rem;
}

.preguntasFrecuentes .accordion-button:hover {
    color: #FFC300;
    background-color: white;
}

.horarios, .ubicacion {
    background-color: white;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    border: 1px solid #f0f0f0;
    padding: 2rem;
    max-width: 40rem;
}

.consultas {
    background-color: white;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    border: 1px solid #f0f0f0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.preguntasFrecuentes h2, .horarios h2, .ubicacion h2, .consultas h2 {
    font-size: 1.5rem;
    color: #FFC300;
    margin-bottom: 2rem;
    font-weight: 700;
}

.horarios h3 {
    font-size: 1.1rem;
    color: #363636;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

.horarios p {
    color: #666;
    font-size: 1rem;
}

.ubicacion iframe {
    width: 100%;
    height: 200px;
}

.formulario {
    background-color: white;
    padding: 1rem;
    width: 100%;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.formulario input, .formulario textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #f0f0f0;
    font-size: 1rem;
    margin: 0.5rem 0rem;
}

.formulario input:focus-visible, .formulario textarea:focus-visible {
    outline: 3px solid #FFC300;
    outline-offset: 2px;
    border-color: #FFC300;
}

.formulario button {
    background-color: #FFC300;
    color: #363636;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    margin-top: 1rem;
}

.formulario button:active {
    background-color: #FFD700;
    transform: scale(0.95);
}

/* SECCION: PRODUCTOS */

.prod {
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portada-productos h1 {
    font-size: 2.5rem;
    color: #FFC300;
}

.portada-productos p {
    font-size: 1.2rem;
    color: white;
    padding: 0.4rem 0rem 1rem;
}

.filtros {
    background-color: #F9F9F9;
    padding: 1rem 0rem;
    margin: 2rem 0rem 0rem 0rem;
    text-align: center;
}

.filtros label {
    font-size: 1rem;
    margin: 1rem;
}

.filtros button {
    background-color: #363636;
    color: white;
    font-size: 1rem;
    margin: 0rem 0.5rem;
    padding: 0.5rem 1rem;
}

.productos {
    text-align: center;
    padding: 2rem 0rem;
}

.lista-productos {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 18rem);
    gap: 2rem;
    justify-content: center;
}

.tarjeta-producto {
    background-color: white;
    text-align: center;
    border: 1px solid #E0E0E0;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.tarjeta-producto img {
    width: 100%;
    height: 15rem;
}

.info-producto {
    padding: 1rem;
}

.info-producto p {
    margin: 0.5rem 0rem;
}

.info-producto .nombre {
    font-size: 1.2rem;
    font-weight: 500;
}
.info-producto .precio {
    color: #FFD700;
    font-size: 1.5rem;
    font-weight: 700;
}

/* SECCION: INICIO */

.ofertas {
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portada-ofertas h1 {
    font-size: 2.5rem;
    color: #FFC300;
}

.portada-ofertas p {
    font-size: 1.25rem;
    color: white;
    padding: 0.4rem 0rem 1rem;
}

.boton-ofertas {
    background-color: #FFC300;
    color: #363636;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
}

/* SECCION: BOTON WHATSAPP */

.whatsapp-btn {
    background-color: none;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 1000;
}

.whatsapp-btn img {
    width: 45px;
    height: auto;
}

/* MEDIA QUERIES */

/* 481px - 768px */

@media (max-width: 768px) {

    header img {
        width: 240px;
        height: auto;
        margin-bottom: 0;
    }

    header {
        flex-direction: column;
        gap: 1rem;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }

    header nav ul a {
        font-size: 1rem;
    }

    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2.5rem;
        padding: 2rem 0.6rem;
    }

    .titulo-footer {
        font-size: 1.1rem;
        margin-bottom: 0.4rem;
    }

    footer p {
        font-size: 0.9rem;
    }

    .ofertas, .prod, .contacto {
        height: 50vh;
        width: 100%;
    }

    .portada-ofertas h1, .portada-productos h1, .portada-contacto h1 {
        font-size: 2rem;
    }

    .portada-ofertas p, .portada-productos p, .portada-contacto p {
        font-size: 1rem;
    }

    .productos h2 {
        font-size: 1.4rem;
    }

    .lista-productos {
        grid-template-columns: repeat(auto-fit, 12rem);
    }

    .tarjeta-producto img {
        height: 10rem;
        width: auto;
    }
    
    .info-producto .nombre {
        font-size: 1rem;
    }

    .info-producto .precio {
        font-size: 1.2rem;
    }

    .info-producto p {
        font-size: 0.8rem;
        margin: 0.5rem 0rem;
    }

    .filtros form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 1rem;
    }

    .filtros label {
        font-size: 0.8rem;
        margin: 0;
        grid-row: 1;
    }

    .filtros select {
        width: 100%;
        padding: 0.6rem;
        font-size: 0.8rem;
        grid-row: 2;
    }

    .filtros button {
        grid-column: 1 / span 2; 
        grid-row: 3;
        width: 100%;
        margin: 1rem 0 0 0;
        padding: 0.6rem;
    }

    .contacto-contenedor {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        gap: 2rem;
        align-items: center;
    }

    .preguntasFrecuentes .listaDesplegable {
        grid-template-columns: 1fr; 
        gap: 0rem; 
    }

    .preguntasFrecuentes h2 {
        font-size: 1.2rem; 
        margin-bottom: 1.5rem;
    }

    .preguntasFrecuentes .accordion-button {
        font-size: 0.9rem;
    }

    .preguntasFrecuentes .accordion-body {
        font-size: 0.85rem;
    }

    .horarios, .ubicacion, .consultas {
        width: 100%;
        max-width: 600px;
    }

    .contacto-contenedor h2 {
        font-size: 1.2rem;
    }
    
    .contacto-contenedor h3 {
        font-size: 1rem;
    }

    .contacto-contenedor p{
        font-size: 0.9rem;
    }

    .consultas .formulario label {
        font-size: 0.9rem;
    }
    
    .consultas .formulario input, .consultas .formulario textarea {
        font-size: 0.9rem;
    }

    .consultas .formulario button {
        font-size: 0.9rem;
        padding: 0.8rem;
    }
}

/* 0px - 480px */

@media (max-width: 480px) {

    header img {
        width: 160px;
        height: auto;
        margin-bottom: 0;
    }

    header {
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem 1rem;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.4rem;
        margin: 0;
        padding: 0;
    }

    header nav ul a {
        font-size: 0.9rem;
        margin: 0;
    }

    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2.5rem;
        padding: 2rem 0.6rem;
    }

    .titulo-footer {
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
    }

    footer p {
        font-size: 0.8rem;
    }

    .ofertas, .prod, .contacto {
        height: 45vh;
        width: 100%;
    }

    .portada-ofertas h1, .portada-productos h1, .portada-contacto h1 {
        font-size: 1.6rem;
    }

    .portada-ofertas p, .portada-productos p, .portada-contacto p {
        font-size: 0.9rem;
    }

    .productos h2 {
        font-size: 1.2rem;
    }

    .contacto-contenedor h2 {
        font-size: 1rem;
    }
    
    .contacto-contenedor h3 {
        font-size: 0.9rem;
    }

    .contacto-contenedor p{
        font-size: 0.8rem;
    }

    .consultas .formulario label {
        font-size: 0.8rem;
    }
    
    .consultas .formulario input, .consultas .formulario textarea {
        font-size: 0.8rem;
    }

    .consultas .formulario button {
        font-size: 0.8rem;
        padding: 0.8rem;
    }
}
